@media only screen and (max-width: 600px) {
    .sidebar-main {
        display: none;
    }
    .sidebar-main {
        display: none;
    }
    
    .sidebar-menu,
    .sidebar-content {
        display: none;
    }
    
    .sidebar-menu {
        display: none;
    }
    
    .sidebar-lists {
        display: none;
    
    }
    
    .sidebar-lists:hover {
        display: none;
    }
    
    a {
        display: none;
    }
    
    .activeMenu {
        display: none;
    }
}

.sidebar-main {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212121;
    overflow: hidden;
    width: 20%;
}

.sidebar-menu,
.sidebar-content {
    padding: 20px;
}

.sidebar-menu {
    width: 200px;
    color: whitesmoke;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.sidebar-lists {
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    color: white;
}

.sidebar-lists:hover {
    color: #9e9e9e;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.activeMenu {
    color: #616161;
}
